.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1.5rem 5%;
  background: rgb(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

#menu-icon {
  font-size: 3.5rem;
  color: var(--main-color);
  display: none;
}

.logo {
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

span {
  background: linear-gradient(to right, #00fff7, #ff00f7);
  background-clip: text;
  color: transparent;
}

.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}

.navbar a:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

.gradient-btn {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  background: linear-gradient(to right, #00fff7, #ff00f7);
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: white;
  border: none;
  text-wrap: nowrap;
}

.gradient-btn:hover {
  transform: scale(1.05);
}

section {
  min-height: 100vh;
  padding: 10rem 9%;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.home-content h1 {
  font-size: 6rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}

.home-content h3 {
  margin: 1rem 0;
  font-size: 2rem;
}

.home-content p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
}
/* 
.home-img img {
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.3s ease-in-out;
} */

.home-img img {
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  animation: pulse-shadow 3s infinite ease-in-out;
  transition: 0.3s ease-in-out;
}

@keyframes pulse-shadow {
  0% {
    box-shadow: 0 0 25px var(--main-color);
  }
  50% {
    box-shadow: 0 0 50px var(--main-color), 0 0 75px var(--main-color);
  }
  100% {
    box-shadow: 0 0 25px var(--main-color);
  }
}

.home-img img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 1rem;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 0.5rem;
  transition: 0.3s ease-in-out;
}

.social-icons a:hover {
  color: var(--text-color);
  background-color: var(--main-color);
  transform: scale(1.2) translateY(-5px);
  box-shadow: 0 0 25px var(--main-color);
}

.btn-group {
  display: flex;
  gap: 1.5rem;
}

.button {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 3rem;
  font-size: 1.8rem;
  color: black;
  border: 2px solid transparent;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  margin-top: auto;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
}

.btn-group a:nth-of-type(2) {
  background-color: black;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
  color: black;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  background: var(--second-bg-color);
}

.about-img img {
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.3s ease-in-out;
}

.about-img img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}

.about-content h2 {
  font-size: 5rem;
  text-align: left;
}

.about-content p {
  font-size: 1.7rem;
}

.about-content .btn {
  margin: 3rem 0;
}

.about-button {
  margin-top: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

.heading {
  text-align: center;
  font-size: 5rem;
  margin: 5rem 0;
}

.services {
  background-color: var(--bg-color);
  color: black;
}

.services h2 {
  color: var(--text-color);
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 2.5rem;
}

.service-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  height: 550px;
  border-radius: 3rem;
  cursor: pointer;
  border: 5px solid transparent;
  transition: 0.4s ease-in-out;
}

.service-box:hover {
  background: var(--second-bg-color);
  color: var(--main-color);
  border: 5px solid var(--main-color);
  transform: scale(1.03);
}

.service-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.service-info h4 {
  font-size: 4rem;
  margin: 2rem 0;
  font-weight: 800;
}

.service-info p {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.7;
}

.service-info i {
  font-size: 8rem;
}

.projects {
  background-color: var(--second-bg-color);
}

.projects-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(309px, 1fr));
  place-items: center;
  gap: 3rem;
  row-gap: 5rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 3rem;
  gap: 2rem;
  padding: 2rem 2rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 5px var(--main-color);
  transition: 0.3s ease-in-out;
  min-height: 632px;
}

.project-card:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
  transform: scale(1.02);
}

.project-card img {
  max-width: 250px;
  border-radius: 2em;
  object-fit: cover;
  min-height: 230px;
}

.project-card h3 {
  font-size: 3rem;
}

.project-card p {
  font-size: 1.6rem;
  margin-top: auto;
}

.skills {
  color: var(--main-color);
}

.contact {
  background-color: var(--bg-color);
}

.contact h2 {
  margin-bottom: 3rem;
  color: var(--text-color);
}

.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 5rem 0;
  text-align: center;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  margin: 1.5rem 0;
  resize: none;
}

.footer {
  background-color: var(--second-bg-color);
  padding: 50px 0;
}

.footer .social-icons {
  text-align: center;
}

.footer ul {
  text-align: center;
  font-size: 1.7rem;
  padding-left: 0;
  display: flex;
}

.footer ul li {
  display: inline-block;
  margin-left: 20px;
}

.footer ul li a {
  color: white;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}

.footer ul li a:hover {
  border-bottom: 3px solid var(--main-color);
}

.footer .copyright {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
}

.navbar {
  display: none;
}

.gradient-btn {
  display: none;
}

.logo-mob {
  margin-top: 30px;
  font-size: 1.4rem;
}

.mob-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4000;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 3s ease, visibility 3s ease;
  pointer-events: none;
  overflow: hidden;
}

.mob-menu-overlay.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  overflow: hidden;
}

.mob-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 60vw;
  height: 100vh;
  padding: 20px;
  background-color: var(--second-bg-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(100%);
  transition: transform 9s ease, opacity 9s ease, visibility 9s ease;
  overflow: hidden;
}

.mob-open-btn {
  background-color: transparent;
  border: none;
}

.mob-open-btn-icon {
  fill: var(--main-color);
}

.mob-menu.active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  overflow: hidden;
}

.mob-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.mob-nav-link {
  transition: color 0.3s ease;
  text-decoration: none;
  font-size: 2rem;
  color: white;
}

.mob-nav-link:hover,
.mob-nav-link:focus {
  color: var(--main-color);
}

.mob-menu-close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.mob-menu-close-btn-icon {
  stroke: var(--main-color);
}

@media screen and (min-width: 768px) {
  .mob-open-btn {
    display: none;
  }

  .navbar {
    display: flex;
  }

  .gradient-btn {
    display: block;
    margin-left: 20px;
  }

  .projects-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

@media (max-width: 1280px) {
  .home {
    flex-direction: column-reverse;
    margin: 5rem 0;
    gap: 5rem;
  }

  .home-content {
    align-items: center;
    text-align: center;
  }

  .home-img img {
    width: 56vw;
  }

  .about {
    flex-direction: column-reverse;
    text-align: center;
  }

  .about h2 {
    text-align: center;
    margin: 2rem 0;
  }

  .about img {
    width: 52vw;
  }

  .contact form {
    flex-direction: column;
  }
}

.is-active {
  visibility: visible;
  opacity: 1;
  display: block;
  pointer-events: auto;
}

.work-title {
  font-size: 5rem;
  letter-spacing: 1.8px;
  line-height: 64px;
  text-transform: uppercase;
  color: var(--accent-green);
  margin-bottom: 40px;
}

.work-title span {
  background: linear-gradient(to right, #00fff7, #ff00f7);
  background-clip: text;
  color: transparent;
}

.work-text {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--text);
  margin-bottom: 32px;
  max-width: 320px;
}

.work-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
  padding-left: 0;
}

.work-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.work-icon {
  stroke: var(--main-color);
  fill: none;
  padding: 0;
}

.work-link {
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 24px;
  font-weight: 300;
  color: var(--text);
}

.work-form {
  display: grid;
  position: relative;
  gap: 10px;
}

.work-input,
.work-message {
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 24px;
  font-weight: 300;
  color: var(--text);
  background-color: var(--light-grey);
  border: 2px solid var(--main-color);
  outline: none;
  border-radius: 8px;
  resize: none;
  font-family: "Poppins", sans-serif;
}

.work-message {
  height: 128px;
  padding: 16px;
}

.work-input {
  padding: 12px 0 12px 16px;
}

.work-btn {
  margin-top: 32px;
  display: block;
  border: none;
  outline: none;
  border-radius: 3rem;
  padding: 12px 24px;
  width: 100%;
  height: 48px;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 24px;
  font-weight: 500;
  transition: all 0.3s ease;
  font-family: "Poppins", sans-serif;
}

/*----- Modal window -----*/

.work-backdrop {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
}

.work-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 328px;
  width: 320px;
  padding: 48px 32px;
  border-radius: 16px;
  border: 1px solid var(--bg-color);
  background-color: var(--second-bg-color);
}

.work-modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0;
  border: none;
  transition: all 0.3s ease;
  background-color: transparent;
}

.work-icon-close {
  stroke: var(--text-color);
  fill: none;
  transition: all 0.3s ease;
}

.work-icon-close:hover {
  transform: scale(1.5);
}

.work-modal-title {
  text-transform: uppercase;
  background: linear-gradient(to right, #00fff7, #ff00f7);
  background-clip: text;
  color: transparent;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 16px;
}

.work-modal-text {
  color: var(--text-color);
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .work-wrapper {
    position: relative;
  }

  .work-title {
    font-size: 108px;
    line-height: 124px;
    margin-bottom: 60px;
  }

  .work-text {
    font-size: 20px;
    line-height: 32px;
    max-width: 488px;
  }

  .work-list {
    flex-direction: unset;
    margin-bottom: 60px;
  }

  .work-btn {
    width: 173px;
  }

  .work-modal {
    padding: 64px;
    width: 492px;
    max-height: 288px;
  }

  .work-modal-close {
    top: 20px;
    right: 20px;
  }

  .work-modal-title {
    font-size: 20px;
    line-height: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .work-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .work-title {
    max-width: 511px;
    margin-bottom: 80px;
  }

  .work-text {
    margin-bottom: 120px;
  }

  .work-list {
    flex-direction: column;
    margin-bottom: unset;
  }

  .work-right {
    display: flex;
    align-items: flex-end;
  }

  .work-form {
    width: 592px;
    height: 288px;
  }
}

.work-success-icon {
  fill: var(--main-color);
  position: absolute;
  right: 17px;
  top: 17px;
  display: block;
}
